// COLORS
$color-white: #ffffff;
// $color-grey-1: rgb(247, 247, 247); // Elegir uno de los $color-grey-1
$color-grey-1: rgb(230, 230, 230);
$color-black: #000000;

$color-primary-1: #b2ebf2; // Solo en el selection
$color-primary-2: #00bcd4; // Solo en los degradados y el ContactBtnCTA
$color-primary-3: #0097a7; // COLOR PRIMARIO
$color-primary-4: #02707c; // Solo en los degradados
$color-primary-5: rgb(39, 43, 54); // COLOR SECUNDARIO

$gradient: linear-gradient(120deg, $color-primary-2, $color-primary-4);

// FONT

$font-primary: "Lato", serif;
$font-secundary: "Open Sans", sans-serif;

$font-M: 2rem;

// SHADOW

$shadow-M: 1px 0 10px rgba($color-black, 0.8);

// SIZES

$nav-height: 7rem;
$margin-top: 15rem;
$border-radius-S: 1rem;

//TRANSITION

$transition-fast: transform 0.1s linear;

// RESPONSIVE

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px;
