$color-white: #FFFFFF;
$color-black: #000000;

// $color-grey-1: #e4e4e4;
$color-grey-1: #ebebeb;
$color-grey-2: #c5c5c5;
$color-grey-3: #202020;
$color-grey-4: #131313;

$color-primary: #971022;
$color-primary-dark: #63191c;
$color-primary-light: #c5152c;

$color-terciary-dark: #0d2346;
$color-terciary-light: #3682fd94;


$color-secundary: #E0B65E;
$color-secundary-dark: #be9747;

$font-primary: 'Lato', serif;
$font-secundary: 'Open Sans', sans-serif;

// pasa a 10

$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;   // 800px;
$bp-small: 37.5em;  // 600px;
$bp-smallest: 31.25em;  // 500px;