%heading{
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1{
    text-transform: uppercase;

    &--main{
        font-family: $font-primary;
        font-size: 5rem;
        font-weight: 700;
        word-spacing: 0.2rem;
        letter-spacing: 0rem;
        line-height: 1.5;
        display: block;
        animation: moveToLeft 3s ease 3s;
        animation-fill-mode: backwards;
        @media only screen and (max-width: $bp-smallest) {
            font-size: 3rem;
        }
    }
    
    
    &--sub{
        font-family: $font-primary;
        color: $color-primary;
        display: block;
        word-spacing: 1rem;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 0.45rem;
        line-height: 2;
        margin-bottom: 4rem;
        animation: moveToRight 3s ease 3s;
        animation-fill-mode: backwards;
        @media only screen and (max-width: $bp-smallest) {
            font-size: 2rem;
            word-spacing: 0.2rem;
            letter-spacing: 0.25rem;
        }
    }
}

.heading-2{
    padding-top: 10rem;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    &--dark{
        color: $color-black;
    }
    &--light{
        color: $color-grey-1;
    }
    
}
.heading-3{
    @extend %heading;
    line-height: 1;
}
.heading-4{
    @extend %heading;
    font-size: 3rem;
}