// Imports
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

@import "abstract/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";

@import "components/button";
@import "components/navigation-bar";


@import "layout/home";
@import "layout/projects";
@import "layout/hiring";
@import "layout/about";
@import "layout/contact";
